<!DOCTYPE html>

<html>
    <head>
        

        {%block head%}
        <title>Rudieron Praxedes</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons">
        {% endblock %}
        
     
<link rel="stylesheet" href="/styles.css">
    </head>
    <body>
<header>
        <div class="links">
                <a href= "/"> Perfil </a>
                <a href= "/portfolio"> Videos </a>
         </div>    
</header>

{% block content %} {%endblock%}
      </body>
</html>
